* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #141414;
    background-image: url("/assets/image/blackwhite/spacestar.png");
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    animation: bg 2s alternate infinite;
}

@keyframes bg {
    from{background-image: url("/assets/image/blackwhite/spacestar.png");}
    to{background-image: url("/assets/image/blackwhite/spacestar3.png");}
}

/* .world {
    position: absolute;
    
} */


.world-absolute {
    position: absolute;
    top: 70vh;
    left: calc(50vw - 960px);
}

.rocket {
    transform: translate(810px, calc(70vh - 260px)) rotate(0deg);
    position: absolute;
    top: -1px;

    left: calc(50vw - 960px);
    width: 19rem;
    /* animation: rocketmove 4s 0s linear forwards; */
}

.box {
    position: relative;
    margin: 0 50px 0 50px;
    border: 3px solid transparent;
    border-radius: 12px;
    padding: 10px;
    transition: border 1s ease-out
}

.box > img:not(.lock) {
    padding: 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    display: block;
}

.box:not(.disabled):hover {
    border: 3px solid rgb(255, 255, 255);
}

.box.disabled > img:not(.lock) {
    opacity: 0.3;
}

.box-select {
    margin: auto;
    display: flex;
    width: fit-content;
    margin-top: 10vh;
    opacity: 0;
    animation: box-show 1s ease-in 0s forwards;
}

@keyframes box-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lock {
    position: absolute;
    padding: 5px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}


.ontheworld{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    animation: box-show 1s ease-in 0s forwards;
}

.ontheworld > img.b1w{
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: calc(50% + 200px);
}

.ontheworld > img.b2w{
    transform: rotate(-45deg);
    position: absolute;
    top: -20px;
    left: calc(50% - (500px + 200px));
}

.ontheworld > img.b3w{
    transform: rotate(-25deg);
    position: absolute;
    top: -180px;
    left: calc(50% - 440px);
}

.ontheworld > img.b4w{
    transform: rotate(22deg);
    position: absolute;
    top: -150px;
    left: calc(50% + 90px);
}

.color-on-top > img {
    position: absolute;
    /* bottom: 69vh; */
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    
}

.fade{
    animation: fade 5s 5s ease-in-out forwards;
}

@keyframes fade {
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.c1{
    animation: aura1 4.5s alternate infinite;
}
.c2{
    animation: aura2 5s alternate infinite;
}
.c3{
    animation: aura3 5s alternate infinite;
}

.c4{
    animation: aura3 5.5s alternate infinite;
}

@keyframes aura1 {
    0%{
        top:-80vw;
    }
    50%{
        top:-82vw;
    }
    100%{
        top:-80vw;
    }
}

@keyframes aura2 {
    0%{
        top:-76vw;
    }
    50%{
        top:-78vw;
    }
    100%{
        top:-77vw;
    }
}
@keyframes aura3 {
    0%{
        top:-74vw;
    }
    50%{
        top:-76vw;
    }
    100%{
        top:-73vw;
    }
}

.fade{
    animation: fade 10s 8s ease-in-out ;
}

.box:nth-child(1) {
    animation: fadeDown 6s forwards;
}
.box:nth-child(2) {
    animation: fadeDown2 4s 5s forwards;
}
.box:nth-child(3) {
    animation: fadeDown3 5s 10s forwards;
}
.box:nth-child(4) {
    animation: fadeDown4 5s 13s forwards;
}

#b1{
    opacity: 0;
    animation: appear 3s 2s forwards;
}

#b2{
    opacity: 0;
    animation: appear 3s 7s forwards;
}

#b3{
    opacity: 0;
    animation: appear 3s 11s forwards;
}

#b4{
    opacity: 0;
    animation: appear 3s 14s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes fadeDown {
    0% {
        transform: translate(0);
        opacity: 1;
    } 100% {
        transform: translate(30em, 25rem);
        opacity: 0;
    }
}

@keyframes fadeDown2 {
    0% {
        transform: translate(0);
        opacity: 1;
    } 100% {
        transform: translate(12em, 25rem);
        opacity: 0;
    }
}

@keyframes fadeDown3 {
    0% {
        transform: translate(0);
        opacity: 1;
    } 100% {
        transform: translate(-10em, 25rem);
        opacity: 0;
    }
}

@keyframes fadeDown4 {
    0% {
        transform: translate(0);
        opacity: 1;
    } 100% {
        transform: translate(-30em, 25rem);
        opacity: 0;
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
        100%{
            opacity: 1;
    }
}

#rocket1{
    opacity: 1;
    animation: fadeout 2s 16s forwards;
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.rockcolor{
    position: absolute;
    left: calc(45.5vw - 930px);
    top: -5.5rem;
    width: 30rem;
    opacity: 0;

    animation: appear 5s 17s forwards;
}

.clickhere{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(50vw - 200px);
    top: calc(35vh - 100px);
    width: 400px;
    height: 200px;
    background-color: #d65555;
    font-size: 3rem;
    font-family: "Prompt", sans-serif;
    border-radius: 10px;
    opacity: 0;
    animation: fade 2s 17s forwards;
    transition: all .2s;
}

#goToEnd{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 180px;
    background-color: hsla(0, 0%, 100%, 1);
    color: black;
    transition: all .2s;
}

#goToEnd:hover{
    font-size: 5rem;
    text-shadow: 5px 5px #fec87c;
}