* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #141414;
    background-image: url("/assets/image/blackwhite/spacestar.png");
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -6000;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
  /* background-image: url("/assets/image/blackwhite/spacestar.png"); */
  z-index: 10000;
}
.rocket1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  transform: translateY(-5rem);
}

.text {
  position: absolute;
  top: 27rem;
}

.text p {
  padding: 0 20rem;
  text-align: center;
  margin-top: 3rem;
  color: white;
  font-size: 1.3em;
  font-family: "Prompt", sans-serif;
}

.rocketload {
  width: 20%;
  transform: rotate(90deg);
  animation: float 1s forwards infinite, move 3s 16s forwards;
}

@keyframes move {
  0% {
    transform: rotate(90deg) translateY(0px);
  }
  100% {
    transform: rotate(90deg) translateY(-1100px);
  }
}

@keyframes float {
  0% {
    transform: rotate(90deg) translate3d(0px, 0px, 0);
  }
  50% {
    transform: rotate(90deg) translate3d(-2px, -4px, 0);
  }
  100% {
    transform: rotate(90deg) translate3d(0px, 0px, 0);
  }
}

.go {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  background: transparent;
  position: absolute;
  color: hsl(0, 0%, 100%);
  right: 2rem;
  bottom: 5rem;
  cursor: pointer;
  z-index: 10000;
}

.world {
    transform: rotate(-110deg);
}

.world-absolute {
    position: fixed;
    top: 70vh;
    opacity: 0;
    left: calc(50vw - 960px);
    overflow: hidden;
    z-index: -5000;
    animation: world 4s linear forwards;
}

.rocket {
    transform: translate(-300px, 360px) rotate(80deg);
    position: absolute;
}

.rocket.animate {
    top: 0;
    left: calc(50vw - 960px);
    animation: rocketmove 4s linear forwards;
}

@keyframes world {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes rocketmove {
    0% {
        transform: translate(-300px, 360px) rotate(80deg);
    }

    20% {
        transform: translate(10px, 360px) rotate(80deg);
    }

    35% {
        transform: translate(420px, 280px) rotate(40deg);
    }

    50% {
        transform: translate(810px, 80px) rotate(0deg);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translate(810px, calc(70vh - 350px)) rotate(0deg);
    }

}

.box {
    position: relative;
    margin: 0 50px 0 50px;
    border: 3px solid transparent;
    border-radius: 12px;
    padding: 10px;
    transition: border 1s ease-out
}

.box > img:not(.lock) {
    padding: 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    display: block;
}

.box:not(.disabled):hover {
    border: 3px solid rgb(255, 255, 255);
}

.box.disabled > img:not(.lock) {
    opacity: 0.3;
}





.box-select {
    margin: auto;
    display: flex;
    width: fit-content;
    margin-top: 10vh;
    opacity: 0;
    animation: box-show 3s ease-in 4s forwards;
    z-index: -2000;
}

@keyframes box-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes box-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lock {
    position: absolute;
    padding: 5px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}


.ontheworld {
    transform: rotate(30deg);
    position: absolute;
    top: 56vh;
    right: 7vw;
    overflow: hidden;
    opacity: 0;
    animation: sth-show 3s ease-in forwards;
    z-index: -4000;
}

@keyframes sth-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

