* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    background-image: url("/assets/image/blackwhite/spacestar.png");
    overflow: hidden;
    animation: bg 2s alternate infinite;
}
@keyframes bg {
    from{background-image: url("/assets/image/blackwhite/spacestar.png");}
    to{background-image: url("/assets/image/blackwhite/spacestar3.png");}
}

.world {
    transform: rotate(-110deg);
}

.world-absolute {
    position: absolute;
    top: 70vh;
    left: calc(50vw - 960px);
}

.rocket {
    transform: translate(810px, calc(70vh - 260px)) rotate(0deg);
    position: absolute;
    top: 0;
    left: calc(50vw - 960px);
    /* animation: rocketmove 4s 0s linear forwards; */
}

.box {
    position: relative;
    margin: 0 50px 0 50px;
    border: 3px solid transparent;
    border-radius: 12px;
    padding: 10px;
    transition: border 1s ease-out
}

.box > img:not(.lock) {
    padding: 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    display: block;
}

.box:not(.disabled):hover {
    border: 3px solid rgb(255, 255, 255);
}

.box.disabled > img:not(.lock) {
    opacity: 0.3;
}

/* .box:nth-child(4):hover {
    border: 3px solid rgb(255, 255, 255);
} */

.box-select {
    margin: auto;
    display: flex;
    width: fit-content;
    margin-top: 10vh;
    opacity: 0;
    animation: box-show 1s ease-in 0s forwards;
}

@keyframes box-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lock {
    position: absolute;
    padding: 5px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.ontheworld{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    animation: box-show 1s ease-in 0s forwards;
}

.ontheworld > img.b1w{
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: calc(50% + 200px);
}

.ontheworld > img.b2w{
    transform: rotate(-45deg);
    position: absolute;
    top: -20px;
    left: calc(50% - (500px + 200px));
}

.ontheworld > img.b3w{
    transform: rotate(-25deg);
    position: absolute;
    top: -180px;
    left: calc(50% - 440px);
}

.ontheworld > img.b4w{
    transform: rotate(22deg);
    position: absolute;
    top: -150px;
    left: calc(50% + 90px);
}

.color-on-top > img {
    position: absolute;
    /* bottom: 69vh; */
    width: 100%;
    top: -85vw;
    left: 0;
    overflow: hidden;
    opacity: 1;
 
}

.c1{
    animation: aura1 4.5s alternate infinite;
}
.c2{
    animation: aura2 5s alternate infinite;
}
.c3{
    animation: aura3 3s alternate infinite;
}

@keyframes aura1 {
    0%{
        top:-85vw;
    }
    50%{
        top:-84vw;
    }
    100%{
        top:-85vw;
    }
}

@keyframes aura2 {
    0%{
        top:-80vw;
    }
    50%{
        top:-79vw;
    }
    100%{
        top:-80vw;
    }
}
@keyframes aura3 {
    0%{
        top:-79vw;
    }
    50%{
        top:-78vw;
    }
    100%{
        top:-77vw;
    }
}
